body {
    color:mintcream;
    background-color: darkcyan;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 14px;
}

a {
    color: mintcream;
    text-decoration: none;
}

h1{
    color: bisque
}

